/* css styles */

:root {
    color-scheme: dark;
}

#toc-title {
    display: none; /* Hide the title completely */
}

.navbar {
    background-color: #243447; /* Dark blue-gray background */
    color: #ffffff;           /* White text for contrast */
    height: 100px;            /* Adjust height for better spacing */
    background-image: url('images/img_6067.jpeg'); /* Add your background photo */
    background-size: cover;   /* Make the image cover the navbar */
    background-position: center; /* Center the background image */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for better text visibility */
    margin-bottom: 0;
}

.quarto-content {
    background-color: #141d26;
    color: #ffffff;
}

.menu-text{
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.menu-text:hover {
    color: #c51f5d;
}

.navbar-brand {
    background-image: url(images/esc6101.jpeg);
    background-size: 150px, 150px;
    background-position: left;
    background-repeat: no-repeat;
    height: 100px;
    width: 120px;
    margin-left: 5px;
    margin-right:5px;
    margin-bottom: 0;
  }


.quarto-title > h1.title {
    opacity: 0 !important;
}

.shinylive-wrapper {
    background-color: #141d26;
    height: 1000px;
    border: none;
}

div.shinylive-wrapper {
    border: none;
}

/* Wide Image Styles */

.wide-image {
    text-align: center; /* Center the image and caption */
    margin: 20px 0;     /* Add vertical spacing */
}

.wide-image img {
    width: 100%;            /* Full width across the page */
    height: auto;           /* Maintain aspect ratio */
    margin-top: 0px;       /* Add spacing below banner */
    margin: 0 auto;
    display: block;         /* Center image block */
}

.image-caption {
    font-size: 0.9em;    /* Smaller text */
    color: gray;         /* Gray text */
    margin-top: 8px;     /* Add space between the image and caption */
    text-align: center;  /* Center the caption */
}

